body{
  background-color: rgb(0, 0, 0);
}

#video-grid{
    display: flex;
    justify-content: center;
}

video{
    height: 300px;
    width: 400px;
}



  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

  /* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(67, 128, 207);
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #e00a0a;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
